.stats-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	user-select: none;
	width: 100%;
	background: var(--theme-secondary);
}

.stats-body {
	padding: 0 1rem 1rem;
	background: var(--theme-secondary);
}

.stats-separator {
	border-bottom: 2px solid var(--theme-primary);
}


.stats-table {
	overflow-x: auto;
}
.stats-body table {
	width: 100%;
	border-collapse: collapse;
}

.stats-body th,td {
	padding: 0.25rem;
	text-align: left;
}

.stats-body th {
	background: var(--theme-secondary);
	padding-bottom: 0.5rem;
}

.stats-body tr:nth-child(odd) {
	background: var(--theme-primary);
}