.accordion {
	overflow: hidden;
	border-radius: 0.25rem;
	border: 1px solid var(--theme-border);
	background: var(--theme-secondary);
}

.accordion-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	user-select: none;
	width: 100%;
}

.accordion-body {
	padding: 0 1rem 1rem;
}

.accordion-separator {
	border-bottom: 1px solid var(--theme-border);
}

.accordion-body table {
	width: 100%;
	border-collapse: collapse;
}

.accordion-body th,td {
	padding: 0.25rem;
	text-align: left;
}

.accordion-body th {
	background: var(--theme-secondary);
	padding-bottom: 0.5rem;
}

.accordion-body tr:nth-child(odd) {
	background: var(--theme-primary);
}