.accordion {
	overflow: hidden;
	border-radius: 0.25rem;
	border: 1px solid var(--theme-border);
	background: var(--theme-secondary);
}

.accordion-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	user-select: none;
	width: 100%;
}

.accordion-collapse-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	cursor: pointer;
	overflow: hidden;
	padding-left: 1rem;
}

.accordion-main-stats{
	overflow-y: auto !important;
	scrollbar-width: none;
}

.accordion-main-stats::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
}