.accordion {
	overflow: hidden;
	border-radius: 0.25rem;
	border: 1px solid var(--theme-border);
	background: var(--theme-secondary);
}

.accordion-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	user-select: none;
	width: 100%;
}