/* Used by IconContext component from react-icons */
.reacticon-sm { vertical-align: middle; font-size: 1rem; }
.reacticon-md { vertical-align: middle; font-size: 1.35rem; }
.reacticon-lg { vertical-align: middle; font-size: 1.8rem; }
.reacticon-xl { vertical-align: middle; font-size: 2.5rem; }
.reacticon-clickable { transition: transform 0.2s; }
.reacticon-clickable:hover { transform: scale(1.3); }
.reacticon-clickable:active { transform: scale(1); transition: transform 0s; }