.settings {
	background-color: #222;
}
.settings-hidden {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}
.settings-shown {
	overflow: hidden;
	max-height: 20rem;
	transition: max-height 1s;
}
.settings input {
	border: 0px;
	padding: 0.5rem;
	background: #666;
	font-size: 1rem;
	border-radius: 0.5rem;
}
.settings input::placeholder {
	color: #999;
}
.settings input:focus {
	outline-width: 0;
}