@font-face {
	font-family: Minecraft;
	src: url('./fonts/minecraft.otf');
}

:root {
	--theme-border: white;
	--theme-text: white;
	--theme-secondary: #222;
	--theme-primary: #333;
	--theme-input: #666;
	--theme-input-placeholder: #999;
}

/* 
Under 640px width, the font size is 12px
Over 1240px width, the font size is 18px
In between 640px and 1240px, the font size increases linearly from 12px to 18px
*/
html { font-size: 12px; background: var(--theme-primary);}
/* Assuming that anything under a width of 640px is a mobile device */
@media (min-width: 640px) { html { font-size: calc(12px + (100vw - 640px) / 150); } }
/* Cap it off at a width of 1280px */
@media (min-width: 1240px) { html { font-size: 16px; } }

body { margin: 0; }
div, span, p, a, ul, input, button { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	color: var(--theme-text); 
	box-sizing: border-box; 
	font-family: Helvetica;
}

input::selection {
	background: #f5f;
}

button {
	background: none;
	border: 0;
	cursor: pointer;
}
button:focus {
	outline-width: 0;
}

#root {height: 100vh; overflow-x: hidden;}
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.align-items-start { align-items: flex-start; }
.align-items-stretch { align-items: stretch; }
.bg-cover { background-size: cover; }
.bg-fixed { background-attachment: fixed; }
.box-shadow { box-shadow: 0 0.25rem 0.25rem black; }
.container { margin-right: auto; margin-left: auto; max-width: 1000px; padding: 0 1rem; width: 100%; }
.cursor-grab:hover { cursor: -webkit-grab; cursor: grab; }
.cursor-grabbing:hover { cursor: -webkit-grabbing; cursor: grabbing; }
.cursor-help:hover { cursor: help; }
.cursor-pointer:hover { cursor: pointer; }
.flex-1 { flex: 1; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.font-bold { font-weight: bold; }
.font-lg { font-size: 2.5rem; }
.font-md { font-size: 1.25rem; }
.font-minecraft { font-family: Minecraft;}
.font-sm { font-size: 1rem; }
.font-xl { font-size: 3.5rem; }
.font-xs { font-size: 0.75rem; }
.h-100 { height: 100%; }
.h-flex { display: flex; flex-direction: row; }
.justify-content-around { justify-content: space-around; }
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.justify-content-start { justify-content: flex-start; }
.justify-content-stretch { justify-content: stretch; }
.link:hover { color: var(--theme-text); text-decoration: underline solid var(--theme-text); }
.link { color: var(--theme-text); text-decoration: underline dotted var(--theme-text); }
.m-1 { margin: 0.5rem; }
.m-2 { margin: 1rem; }
.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 1rem; }
.mb-3 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 4rem; }
.ml-2 { margin-left: 1rem; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 1rem; }
.mt-auto { margin-top: auto; }
.mx-1 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-2 { margin-left: 1rem; margin-right: 1rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-1 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-2 { margin-top: 1rem; margin-bottom: 1rem; }
.my-4 { margin-top: 4rem; margin-bottom: 4rem; }
.my-auto { margin-top: auto; margin-bottom: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-x { overflow-x: auto; }
.nowrap { white-space: nowrap; }
.position-absolute { position: absolute; }
.position-relative { position: relative; }
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 2rem; }
.pb-1 { padding-bottom: 0.5rem; }
.pb-2 { padding-bottom: 1rem; }
.pb-3 { padding-bottom: 2rem; }
.pb-4 { padding-bottom: 4rem; }
.pl-1 { padding-left: 0.5rem; }
.pl-2 { padding-left: 1rem; }
.pr-1 { padding-right: 0.5rem; }
.pr-2 { padding-right: 1rem; }
.pr-3 { padding-right: 2rem; }
.pt-1 { padding-top: 0.5rem; }
.pt-2 { padding-top: 1rem; }
.pt-3 { padding-top: 2rem; }
.pt-4 { padding-top: 4rem; }
.px-1 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-2 { padding-left: 1rem; padding-right: 1rem; }
.px-3 { padding-left: 2rem; padding-right: 2rem; }
.py-1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-2 { padding-top: 1rem; padding-bottom: 1rem; }
.py-3 { padding-top: 2rem; padding-bottom: 2rem; }
.py-4 { padding-top: 4rem; padding-bottom: 4rem; }
.rounded { border-radius: 0.25rem; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-shadow { text-shadow: 0 0.25rem 0.25rem black; }
.top-0 { top: 0; }
.underline { text-decoration: underline; }
.user-select-none { user-select: none; }
.v-flex { display: flex; flex-direction: column; }
.vh-100 { height: 100vh; }
.vw-100 { width: 100vw; }
.w-100 { width: 100%; }
.w-50 { width: 50%; }
.z-top { z-index: 1030; }
.z-0 { z-index: 0; }

/* text colors */
.c-darkred { color: #a00; }
.c-red { color: #f55; }
.c-gold { color: #fa0; }
.c-yellow { color: #ff5; }
.c-darkgreen { color: #0a0; }
.c-green { color: #5f5; }
.c-aqua { color: #5ff; }
.c-darkaqua { color: #0aa; }
.c-darkblue { color: #00a; }
.c-blue { color: #55f; }
.c-pink { color: #f5f; }
.c-purple { color: #a0a }
.c-white { color: #fff; }
.c-gray { color: #aaa; }
.c-darkgray { color: #555; }
.c-black { color: #000; }
.c-brown { color: #963; }
.c-rainbow { 
	background-image: linear-gradient(to left, #a0a, #f5f, #5ff, #5f5, #ff5, #fa0, #f55);   
	-webkit-background-clip: text;
	color: transparent; 
}

/* background colors */
.bg-darkred { background-color: #a00; }
.bg-red { background-color: #f55; }
.bg-gold { background-color: #fa0; }
.bg-yellow { background-color: #ff5; }
.bg-darkgreen { background-color: #0a0; }
.bg-green { background-color: #5f5; }
.bg-aqua { background-color: #5ff; }
.bg-darkaqua { background-color: #0aa; }
.bg-darkblue { background-color: #00a; }
.bg-blue { background-color: #55f; }
.bg-pink { background-color: #f5f; }
.bg-purple { background-color: #a0a }
.bg-white { background-color: #fff; }
.bg-gray { background-color: #aaa; }
.bg-darkgray { background-color: #555; }
.bg-black { background-color: #000; }
.bg-brown { background-color: #963; }
.bg-rainbow { background: repeating-linear-gradient(to right, #f55, #fa0, #ff5, #5f5, #5ff, #f5f, #a0a, #f55 16rem); }